sudo: false
language: node_js
notifications:
  email: false
node_js:
  - 8
  - 10
matrix:
  fast_finish: true
env:
  global:
    - BUILD_LEADER_ID=2
script: npm run travis
before_install:
  - npm i -g npm@^3.0.0
before_script:
  - npm prune
